# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/node_modules
/coverage/
!.*
.*/
/pnpm-lock.yaml
/yarn.lock
ember-cli-update.json
*.html

# ember-try
/.node_modules.ember-try/
