<EuiTitle @size="s">
    <h5>{{@title}} ({{this.setLength}})</h5>
</EuiTitle>

<EuiFlexGrid @columns={{1}}>
    {{#each @songs as |song|}}
        <EuiFlexItem>
            <Song @user={{@user}} @song={{song}} />
        </EuiFlexItem>
    {{/each}}
</EuiFlexGrid>