<EuiText @grow={{false}}>
    <h2>Gigs</h2>
</EuiText>

<EuiSpacer @size="l" />

<EuiFlexGrid @columns={{3}} @responsive={{true}}>
    {{#each @model as |gig|}}
        <EuiFlexItem>
            <Gig @gig={{gig}} />
        </EuiFlexItem>
    {{/each}}
</EuiFlexGrid>

{{#in-element (get-header-links)}}
    {{#if (is-authenticated)}}
        <EuiHeaderLink
            @iconType="createAdvancedJob"
            {{on "click" (go-to "gigs" "new")}}
        >
            Add
        </EuiHeaderLink>
    {{/if}}
{{/in-element}}